{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/recommended",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "node_modules/*", ".next/*", ".out/*", "!.prettierrc.js"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "hrefLeft", "hrefRight"
        ],
        "aspects": [
          "invalidHref", "preferButton"
        ]
      }
    ],
    "simple-import-sort/imports": "error",
    "no-prototype-builtins": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/naming-convention": "off",
    "unicorn/prevent-abbreviations": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
