{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@next/next/recommended",
    "next/core-web-vitals",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["node_modules/*", ".next/*", ".out/*", "!.prettierrc.js"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    // "import/no-unresolved": [
    //   "warn",
    //   { "caseSensitive": false }
    // ],
    // "import/extensions": [
    //   "warn",
    //   "ignorePackages",
    //   {
    //     "js": "never",
    //     "jsx": "never",
    //     "ts": "never",
    //     "tsx": "never"
    //   }
    // ],
    "no-prototype-builtins": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/naming-convention": "off",
    "unicorn/prevent-abbreviations": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
